In [48]:
import pandas as pd

df = pd.read_csv("../input/atus_anual_2022.csv")
print(df.head())

   COBERTURA  ID_ENTIDAD  ID_MUNICIPIO  ANIO  MES  ID_HORA  ID_MINUTO  ID_DIA  \
0  Municipal           1             1  2022    1        2         48       1
1  Municipal           1             1  2022    1        3         45       1
2  Municipal           1             1  2022    1        4          0       1
3  Municipal           1             1  2022    1        4         15       1
4  Municipal           1             1  2022    1        5         56       1

  DIASEMANA                     URBANA  ... PEATMUERTO PEATHERIDO  CICLMUERTO  \
0    Sabado  Accidente en intersección  ...          0          0           0
1    Sabado  Accidente en intersección  ...          0          0           0
2    Sabado  Accidente en intersección  ...          0          0           0
3    Sabado  Accidente en intersección  ...          0          0           0
4    Sabado  Accidente en intersección  ...          0          0           0

   CICLHERIDO  OTROMUERTO  OTROHERIDO  NEMUERTO  NEHERIDO     CLASACC  \
0           0           0           0         0         0  Sólo daños
1           0           0           0         0         0  Sólo daños
2           0           0           0         0         0  Sólo daños
3           0           0           0         0         0    No fatal
4           0           0           0         0         0  Sólo daños

              ESTATUS
0  Cifras Definitivas
1  Cifras Definitivas
2  Cifras Definitivas
3  Cifras Definitivas
4  Cifras Definitivas

[5 rows x 45 columns]

In [49]:
#1-Cargue en un Dataframe los datos de los accidentes de los últimos 3 años
d2020 = pd.read_csv("../input/atus_anual_2020.csv", index_col = False)
d2021 = pd.read_csv("../input/atus_anual_2021.csv", index_col = False)
d2022 = pd.read_csv("../input/atus_anual_2022.csv", index_col = False)

dfult3 = [d2020, d2021, d2022]
dfult3 = pd.concat(dfult3)

print (dfult3)

        COBERTURA  ID_ENTIDAD  ID_MUNICIPIO  ANIO  MES  ID_HORA  ID_MINUTO  \
0       Municipal           1             1  2020    1        0          0
1       Municipal           1             1  2020    1        0          0
2       Municipal           1             1  2020    1        0         10
3       Municipal           1             1  2020    1        2          0
4       Municipal           1             1  2020    1        2         10
...           ...         ...           ...   ...  ...      ...        ...
392705  Municipal          32            56  2022   12        7         45
392706  Municipal          32            56  2022   12        8          0
392707  Municipal          32            56  2022   12       17         20
392708  Municipal          32            56  2022   12       14         45
392709  Municipal          32            56  2022   12       22         15

        ID_DIA  DIASEMANA                     URBANA  ... PEATMUERTO  \
0            1  Miercoles  Accidente en intersección  ...          0
1            1  Miercoles  Accidente en intersección  ...          0
2            1  Miercoles  Accidente en intersección  ...          0
3            1  Miercoles  Accidente en intersección  ...          0
4            1  Miercoles  Accidente en intersección  ...          0
...        ...        ...                        ...  ...        ...
392705      30    Viernes  Accidente en intersección  ...          0
392706      30    Viernes  Accidente en intersección  ...          0
392707      30    Viernes  Accidente en intersección  ...          0
392708      31     Sabado  Accidente en intersección  ...          0
392709      31     Sabado  Accidente en intersección  ...          0

       PEATHERIDO  CICLMUERTO  CICLHERIDO  OTROMUERTO  OTROHERIDO  NEMUERTO  \
0               0           0           0           0           0         0
1               0           0           0           0           0         0
2               0           0           0           0           0         0
3               0           0           0           0           0         0
4               0           0           0           0           0         0
...           ...         ...         ...         ...         ...       ...
392705          0           0           0           0           0         0
392706          0           0           0           0           0         0
392707          0           0           0           0           0         0
392708          0           0           0           0           0         0
392709          0           0           0           0           0         0

        NEHERIDO     CLASACC             ESTATUS
0              0  Sólo daños  Cifras Definitivas
1              0  Sólo daños  Cifras Definitivas
2              0  Sólo daños  Cifras Definitivas
3              0  Sólo daños  Cifras Definitivas
4              0  Sólo daños  Cifras Definitivas
...          ...         ...                 ...
392705         0    No fatal  Cifras Definitivas
392706         0  Sólo daños  Cifras Definitivas
392707         0  Sólo daños  Cifras Definitivas
392708         0  Sólo daños  Cifras Definitivas
392709         0  Sólo daños  Cifras Definitivas

[1067071 rows x 45 columns]

In [50]:
#2-Agregue una columna tipo date que englobe las columnas correspondientes a Año, Mes, Dia, Hora y Minuto.
dfult3['FECHA'] = dfult3.apply(lambda row: f"{row['ANIO']}-{row['MES']}-{row['ID_DIA']} {row['ID_HORA']}:{row['ID_MINUTO']}", axis=1)

dfult3['FECHA'] = pd.to_datetime(dfult3['FECHA'], format='%Y-%m-%d %H:%M')

print(dfult3.head())

   COBERTURA  ID_ENTIDAD  ID_MUNICIPIO  ANIO  MES  ID_HORA  ID_MINUTO  ID_DIA  \
0  Municipal           1             1  2020    1        0          0       1
1  Municipal           1             1  2020    1        0          0       1
2  Municipal           1             1  2020    1        0         10       1
3  Municipal           1             1  2020    1        2          0       1
4  Municipal           1             1  2020    1        2         10       1

   DIASEMANA                     URBANA  ... PEATHERIDO CICLMUERTO  \
0  Miercoles  Accidente en intersección  ...          0          0
1  Miercoles  Accidente en intersección  ...          0          0
2  Miercoles  Accidente en intersección  ...          0          0
3  Miercoles  Accidente en intersección  ...          0          0
4  Miercoles  Accidente en intersección  ...          0          0

   CICLHERIDO  OTROMUERTO  OTROHERIDO  NEMUERTO  NEHERIDO     CLASACC  \
0           0           0           0         0         0  Sólo daños
1           0           0           0         0         0  Sólo daños
2           0           0           0         0         0  Sólo daños
3           0           0           0         0         0  Sólo daños
4           0           0           0         0         0  Sólo daños

              ESTATUS               FECHA
0  Cifras Definitivas 2020-01-01 00:00:00
1  Cifras Definitivas 2020-01-01 00:00:00
2  Cifras Definitivas 2020-01-01 00:10:00
3  Cifras Definitivas 2020-01-01 02:00:00
4  Cifras Definitivas 2020-01-01 02:10:00

[5 rows x 46 columns]

In [51]:
#3-Agregue una columna para Área cuyos valores serán Urbana o Suburbana dependiendo del área donde ocurrió el accidente.
def detArea(row):
    if row['SUBURBANA'] != 'Sin accidente en esta zona':
        return 'SUBURBANA'
    else:
        return 'URBANA'


dfult3['AREA']= dfult3.apply(detArea,axis=1)
print(dfult3.head())

   COBERTURA  ID_ENTIDAD  ID_MUNICIPIO  ANIO  MES  ID_HORA  ID_MINUTO  ID_DIA  \
0  Municipal           1             1  2020    1        0          0       1
1  Municipal           1             1  2020    1        0          0       1
2  Municipal           1             1  2020    1        0         10       1
3  Municipal           1             1  2020    1        2          0       1
4  Municipal           1             1  2020    1        2         10       1

   DIASEMANA                     URBANA  ... CICLMUERTO CICLHERIDO  \
0  Miercoles  Accidente en intersección  ...          0          0
1  Miercoles  Accidente en intersección  ...          0          0
2  Miercoles  Accidente en intersección  ...          0          0
3  Miercoles  Accidente en intersección  ...          0          0
4  Miercoles  Accidente en intersección  ...          0          0

   OTROMUERTO  OTROHERIDO  NEMUERTO  NEHERIDO     CLASACC             ESTATUS  \
0           0           0         0         0  Sólo daños  Cifras Definitivas
1           0           0         0         0  Sólo daños  Cifras Definitivas
2           0           0         0         0  Sólo daños  Cifras Definitivas
3           0           0         0         0  Sólo daños  Cifras Definitivas
4           0           0         0         0  Sólo daños  Cifras Definitivas

                FECHA    AREA
0 2020-01-01 00:00:00  URBANA
1 2020-01-01 00:00:00  URBANA
2 2020-01-01 00:10:00  URBANA
3 2020-01-01 02:00:00  URBANA
4 2020-01-01 02:10:00  URBANA

[5 rows x 47 columns]

In [52]:
#4-Agregue una columna Zona cuyos valores serán la zona donde ocurrió el accidente
def detZona(row):
    if row['AREA']=='URBANA':
        return row['URBANA']
    else:
         return row['SUBURBANA']

dfult3['ZONA']= dfult3.apply(detZona,axis=1)
print(dfult3.head())

   COBERTURA  ID_ENTIDAD  ID_MUNICIPIO  ANIO  MES  ID_HORA  ID_MINUTO  ID_DIA  \
0  Municipal           1             1  2020    1        0          0       1
1  Municipal           1             1  2020    1        0          0       1
2  Municipal           1             1  2020    1        0         10       1
3  Municipal           1             1  2020    1        2          0       1
4  Municipal           1             1  2020    1        2         10       1

   DIASEMANA                     URBANA  ... CICLHERIDO OTROMUERTO  \
0  Miercoles  Accidente en intersección  ...          0          0
1  Miercoles  Accidente en intersección  ...          0          0
2  Miercoles  Accidente en intersección  ...          0          0
3  Miercoles  Accidente en intersección  ...          0          0
4  Miercoles  Accidente en intersección  ...          0          0

   OTROHERIDO  NEMUERTO  NEHERIDO     CLASACC             ESTATUS  \
0           0         0         0  Sólo daños  Cifras Definitivas
1           0         0         0  Sólo daños  Cifras Definitivas
2           0         0         0  Sólo daños  Cifras Definitivas
3           0         0         0  Sólo daños  Cifras Definitivas
4           0         0         0  Sólo daños  Cifras Definitivas

                FECHA    AREA                       ZONA
0 2020-01-01 00:00:00  URBANA  Accidente en intersección
1 2020-01-01 00:00:00  URBANA  Accidente en intersección
2 2020-01-01 00:10:00  URBANA  Accidente en intersección
3 2020-01-01 02:00:00  URBANA  Accidente en intersección
4 2020-01-01 02:10:00  URBANA  Accidente en intersección

[5 rows x 48 columns]

In [53]:
#5-Elimine las columnas URBANA y SUBURBANA
dfult3.drop(columns=['URBANA', 'SUBURBANA'], inplace=True)
print(df.head())

   COBERTURA  ID_ENTIDAD  ID_MUNICIPIO  ANIO  MES  ID_HORA  ID_MINUTO  ID_DIA  \
0  Municipal           1             1  2022    1        2         48       1
1  Municipal           1             1  2022    1        3         45       1
2  Municipal           1             1  2022    1        4          0       1
3  Municipal           1             1  2022    1        4         15       1
4  Municipal           1             1  2022    1        5         56       1

  DIASEMANA                     URBANA  ... PEATMUERTO PEATHERIDO  CICLMUERTO  \
0    Sabado  Accidente en intersección  ...          0          0           0
1    Sabado  Accidente en intersección  ...          0          0           0
2    Sabado  Accidente en intersección  ...          0          0           0
3    Sabado  Accidente en intersección  ...          0          0           0
4    Sabado  Accidente en intersección  ...          0          0           0

   CICLHERIDO  OTROMUERTO  OTROHERIDO  NEMUERTO  NEHERIDO     CLASACC  \
0           0           0           0         0         0  Sólo daños
1           0           0           0         0         0  Sólo daños
2           0           0           0         0         0  Sólo daños
3           0           0           0         0         0    No fatal
4           0           0           0         0         0  Sólo daños

              ESTATUS
0  Cifras Definitivas
1  Cifras Definitivas
2  Cifras Definitivas
3  Cifras Definitivas
4  Cifras Definitivas

[5 rows x 45 columns]

In [54]:
#6-Determine cual municipio de cada estado tuvo más meses sin accidentes
dfult3['AccidentesPorMes'] = dfult3[['AUTOMOVIL', 'CAMPASAJ', 'MICROBUS', 'PASCAMION', 'OMNIBUS', 'TRANVIA',
                                       'CAMIONETA', 'CAMION', 'TRACTOR', 'FERROCARRI', 'MOTOCICLET', 'BICICLETA',
                                       'OTROVEHIC']].sum() 
Acci=dfult3.groupby(['ID_ENTIDAD','ID_MUNICIPIO','ANIO'])['MES'].value_counts().reset_index() 
AcciMes = Acci.loc[Acci.groupby('ID_ENTIDAD')['count'].idxmin()]
AcciMes.sort_index() 
AcciMes

       ID_ENTIDAD  ID_MUNICIPIO  ANIO  MES  count
46              1             2  2020    3      1
503             2             3  2022    8      5
623             3             2  2020    9      1
767             4             1  2020    6      1
1176            5             1  2020    1      1
2729            6             6  2020    2      1
2904            7             1  2020    1      1
7294            8             1  2020    7      1
9191            9             8  2022    7      2
9552           10             3  2020    6      1
10633          11             6  2020    1      1
12145          12             2  2020    1      1
14854          13             1  2020    1      1
17919          14             2  2020    4      1
22379          15             1  2020    2      1
24281          16             1  2020    2      1
28317          17             1  2020    3      1
29590          18             1  2020    1      1
30264          19             1  2020    1      1
32098          20             1  2020    1      1
52618          21             1  2020    1      1
60477          22             2  2020    4      1
61159          23             3  2020    4      2
61474          24             1  2020    1      1
63609          25             2  2020   11      1
64210          26             1  2020    1      1
66811          27             1  2020    3      1
67416          28             1  2020    1      1
68962          29             1  2020    1      1
71122          30             1  2020    1      1
78764          31             2  2020    5      1
80770          32             1  2022   10      1

In [55]:
#7-Resuma los accidentes del último año por tipo y que porcentaje representan
TipAcci = d2022['TIPACCID'].value_counts().reset_index()
TipAcci.columns = ['Tipo de Accidente', 'Count']

TotAcci = TipAcci['Count'].sum()
TipAcci['Porcentaje sobre el Total'] = (TipAcci['Count'] / TotAcci) * 100
print(TipAcci)

                        Tipo de Accidente   Count  Porcentaje sobre el Total
0         Colisión con vehículo automotor  229940                  58.552112
1                Colisión con motocicleta   53629                  13.656133
2                Colisión con objeto fijo   47033                  11.976522
3                        Certificado cero   15479                   3.941585
4   Colisión con peatón (atropellamiento)   11066                   2.817855
5                               Volcadura   10911                   2.778386
6                       Salida del camino   10857                   2.764635
7                                    Otro    6325                   1.610603
8                   Colisión con ciclista    4048                   1.030786
9                       Caída de pasajero    1784                   0.454279
10                    Colisión con animal    1022                   0.260243
11                               Incendio     348                   0.088615
12               Colisión con ferrocarril     268                   0.068244

In [56]:
#8-Obtenga la cantidad de muertos y lesionados de los últimos 3 años
totmuer = dfult3['PEATMUERTO'].sum()+dfult3['CICLMUERTO'].sum()+dfult3['OTROMUERTO'].sum()+dfult3['NEMUERTO'].sum()
totles =dfult3['PEATHERIDO'].sum()+dfult3['CICLHERIDO'].sum()+dfult3['OTROHERIDO'].sum()+dfult3['NEHERIDO'].sum()

print("Muertos ultimos 3 años:", totmuer)
print("Heridos ultimos 3 años:", totles)

Muertos ultimos 3 años: 3270
Heridos ultimos 3 años: 39686

In [59]:
#9 ¿Cómo se compara el número de accidentes de cada año contra el anterior? ¿En qué porcentaje varió?
dfult3['FECHA'] = pd.to_datetime(dfult3['FECHA'])

dfult3['AÑO'] = dfult3['FECHA'].dt.year


TotAcciAño = dfult3['AÑO'].value_counts().reset_index()
TotAcciAño.columns = ['AÑO', 'Total_Accidentes']

TotAcciAño['Porcentaje'] = (TotAcciAño['Total_Accidentes'] / TotAcciAño['Total_Accidentes'].sum()) * 100

dfult3 = dfult3.drop('AÑO', axis = 1)
print(TotAcciAño)

    AÑO  Total_Accidentes  Porcentaje
0  2022            392710   36.802612
1  2021            356315   33.391874
2  2020            318046   29.805514